
# Dependency directories
node_modules/

# dotenv environment variables file
.env
node_modules

#clinent dir
client/

files/
uploads/
logs/
greenlock.d/
file.json
testfile.json
uploads/
temps/
*.html
*.rar
